
.calc{
  width: fit-content;
  border-radius: 10px;
  display: inline-block;
  position: sticky;
  top: 0;
}
.calc-buttons{
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  column-gap: 10px;
  row-gap: 16px;
}

.calc-buttons button{
  height: 45px;
  width: 60px;
  border-radius: 10px;
  font-size: 26px;
  border: 0;
}

.calc-buttons button:hover, .clear:hover, .js-add-expense:hover, .js-delete-expense:hover{
  background-color: yellow;
}

.expense-label{
  font-weight: bold;
  color: rgb(255, 230, 198);
}

.js-expression{
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 260px;
  padding: 5px;
  display: block;
  background-color: transparent;
  color: white;
}

.clear{
  font-size: 17px;
  border-radius: 10px;
  width: 75px;
  height: 45px;
  margin-top: 16px;
  margin-right: 10px;
  border: 0;
}

.title{
  font-weight: bold;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}