

.calc-buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}
.calc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc-buttons button{
  height: 85px;
  width: 120px;
  border-radius: 10px;
  font-size: 42px;
  border: 0;
}

.calc-buttons button:hover, .clear:hover{
  background-color: yellow;
}

.js-expression{
  font-size: 64px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 530px;
  height: 80px;
  padding: 15px;
  display: block;
  background-color: transparent;
  color: white;
}

.clear{
  font-size: 32px;
  border-radius: 10px;
  height: 85px;
  width: 120px;
  margin-top: 16px;
  margin-right: 10px;
  border: 0;
}

