
.calc{
  width: fit-content;
  border-radius: 10px;
  display: inline-block;
  position: sticky;
  top: 0;
}
.calc-buttons{
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  column-gap: 10px;
  row-gap: 16px;
}

.calc-buttons button{
  height: 45px;
  width: 60px;
  border-radius: 10px;
  font-size: 26px;
  border: 0;
}

.calc-buttons button:hover, .clear:hover, .js-add-expense:hover, .js-delete-expense:hover{
  background-color: yellow;
}

.js-expression{
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 260px;
  padding: 5px;
  display: block;
  background-color: transparent;
  color: white;
}

.js-add-expense{
  font-size: 20px;
  margin-left: 10px;
  border-radius: 10px;
  width: 75px;
  height: 35px;
  border: 0;
}

.js-expense-label{
  font-size: 20px;
  margin-bottom: 15px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  width: 260px;
  padding: 5px;

  display: inline-block;
}

.clear{
  font-size: 17px;
  border-radius: 10px;
  width: 75px;
  height: 45px;
  margin-top: 16px;
  margin-right: 10px;
  border: 0;
}

.title{
  font-weight: bold;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}
body{
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 15px;
}
.expense-manager{
  display: flex;
  column-gap: 50px;
  align-items: first baseline;
}
.expense-list{
  border: none;
  display: flex; 
  flex-direction: column;
  row-gap: 10px;
  font-size: 34px;
  font-family: 'Courier New', Courier, monospace;
}

.expense-list p{
  margin: 0;
  border-bottom: 1px solid rgba(255, 230, 198, 0.4);
  padding-top: 10px;
  padding-bottom: 2px;
  padding-right: 10px;
}
.expense-label{
  font-weight: bold;
  color: rgb(255, 230, 198);
}