.chart-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.chart-box {
  background: #111;
  padding: 15px;
  border-radius: 10px;
  height: 600px;
  width: 600px;
}

.chart-box canvas {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
  .chart-container {
    width: 100%;
  }
}